.menu-categorias {
  display: grid;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}

.categoria {
  font-size: 3.5vw;
  font-weight: bolder;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.categ-row {
  display: flex;
  margin: auto;
}

.header {
  display: block;
  text-align: center;
  margin-top: 4%;
}

.menu {
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.menu-text {
  font-size: 300%;
}
